.botoes {
    display: block;
    width: 100%;
}

.botao {
    cursor: pointer;
}

.botao:hover {
    background-color: var(--botao-ativo);
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botao:last-child {
    border-radius: 0 0 40px 40px;
}